before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y python-rrdtool
  - sudo apt-get install -y librrd-dev
language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  # does not have headers provided, please ask https://launchpad.net/~pypy/+archive/ppa
  # maintainers to fix their pypy-dev package.
  - "pypy"
# command to install dependencies
os:
  - linux
install:
  - pip install .
  - pip install -r requirements.txt
# command to run tests
script:
  - webcampak --help
  - webcampak capture --help
  - webcampak stats --help
  - webcampak system --help
  - webcampak video --help
  - webcampak xfer --help
